<html>
    <head>
        <title>Wikipedia Scraper and Password Generator</title>
    </head>
    <body>
        <div style="border:solid black; border-width:2px;">
            <form method="POST">
                <h1>Please enter your wikipedia article here</h1>
                <input name="text">
                <input type="submit" name="submit_button" value="Scrape">
            </form>
        </div>

        <div style="border:solid black; border-width:2px;">
            <form method="POST">
                <h1>Please enter your chosen keyword here to be encrypted</h1>
                <input name="encrypt_text">
                <input type="submit" name="submit_button" value="Encrypt">
            </form>
        </div>
        
        <div style="border:solid black; border-width:2px;">
            <p>This app provides two services. The first is a wikipedia scraper - you enter a wikipedia page and it returns a list of keywords. You
                are then free to take one of these keywords and enter into in the encryption text box and be returned an encrypted password
            </p>
        </div>
    </body>
</html>
